#radio-container {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: inline-block;
}

#battery-icon {
    position: absolute;
    top: 69%;
    left: 60.5%;
    height: 10%;
    width: auto;
    display: none;
    visibility: hidden;
}

#radio-image {
    display: block;
    width: 600px;
    height: auto;
}

#rssi-icon {
    position: absolute;
    top: 21.5%;
    left: 22.7%;
    display: block;
}

#channel-up, #zone-up, #rssi-btn {
    position: absolute;
    transform: translateX(-50%);
    top: 91%;
    width: 40px;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 7px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}

#channel-up {
    top: 70%;
    left: 50%;
    background-color: transparent;
}

#zone-up {
    top: 70%;
    left: 25%;
    background-color: transparent;
}

#rssi-btn {
    top: 70%;
    left: 33%;
    background-color: transparent;
}

#channel-knbu {
    left: 52%;
    top: 35%;
}

#channel-knbd {
    left: 44%;
    top: 35%;
}

#btn-emer {
    left: 88.5%;
}

#power-btn {
    left: 13%;
    top: 12%;
    width: 35px;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 7px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}

#btn-emer {
    position: absolute;
    transform: translateX(-50%);
    top: 11%;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 7px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}

#channel-knbu, #channel-knbd {
    position: absolute;
    transform: translateX(-50%);
    visibility: hidden;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 7px;
    background-color: white;
    color: white;
    border: none;
    cursor: pointer;
}

#line1, #line2, #line3, #softText1, #softText2, #softText3 {
    position: absolute;
    left: 37.5%;
    transform: translateX(-50%);
    z-index: 1;
    color: black;
    font-size: 19px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    width: 90%;
}

#softText1 {
    color: white;
    font-size: 14px;
    top: 53%;
    left: 26%;
}

#softText2 {
    color: white;
    font-size: 14px;
    top: 53%;
    left: 33.5%;
}

#softText3 {
    color: white;
    font-size: 14px;
    top: 53%;
    left: 48.5%;
}

#line1 {
    top: 28%;
}

#line2 {
    top: 36.5%;
    font-size: 17px;
}

#line3 {
    top: 44%;
    font-size: 15px;
    width: 30.1%;
}

#startup-message {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}

#startup-message h1 {
    margin: 0 0 10px;
}

#startup-message p {
    margin: 5px 0;
}