#radio-container {
    position: fixed;
    bottom: 5px;
    right: 10px;
    display: inline-block;
}

#radio-image {
    display: block;
    width: auto;
    height: auto;
    position: relative;
}

#rssi-icon {
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
    display: block;
    top: 20%;
    left: 23.8%;
}

#channel-up, #zone-up {
    position: absolute;
    transform: translateX(-50%);
    top: 91%;
    width: 40px;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 7px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}

#channel-up {
    top: 70%;
    left: 50%;
}

#zone-up {
    top: 70%;
    left: 25%;
}

#line1, #line2, #line3, #softText1, #softText2, #softText3 {
    position: absolute;
    left: 37.5%;
    transform: translateX(-50%);
    z-index: 1;
    color: black;
    font-size: 19px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    width: 90%;
}

#softText1 {
    color: white;
    font-size: 14px;
    top: 53%;
    left: 26%;
}

#softText2 {
    color: white;
    font-size: 14px;
    top: 53%;
    left: 26%;
}

#softText3 {
    color: white;
    font-size: 14px;
    top: 53%;
    left: 48.5%;
}

#line1 {
    top: 28%;
}

#line2 {
    top: 36.5%;
    font-size: 17px;
}

#line3 {
    top: 44%;
    font-size: 15px;
}

#startup-message {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}

#startup-message h1 {
    margin: 0 0 10px;
}

#startup-message p {
    margin: 5px 0;
}
