#radio-container {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: inline-block;
}

#radio-image {
    display: block;
    width: 350px;
    height: auto;
    position: relative;
}

#rssi-icon {
    position: absolute;
    top: 78.5%;
    left: 32.5%;
    display: block;
}
#scan-icon {
    position: absolute;
    top: 78.5%;;
    left: 45%;
    display: none;
    width: 12px;
    height: auto;
}

#battery-icon {
    position: absolute;
    top: 78.5%;
    left: 62.5%;
    height: 2%;
    width: auto;
    display: none;
}

#zone-up, #rssi-btn, #scan-btn {
    position: absolute;
    transform: translateX(-50%);
    top: 95%;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 7px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}

#channel-up {
    left: 63%;
    visibility: hidden;
    display: none;
}

#zone-up {
    left: 37%;
}


#scan-btn {
    left: 63%;

}


#rssi-btn {
    left: 50%;
}

#channel-knbu {
    left: 55%;
    top: 45%;
    height: 55px;
}
#channel-knbd {
    left: 44%;
    top: 45%;
    height: 55px;
}
#btn-emer {
    left: 32%;
}

#power-btn {
    left: 86%;
    top: 53.5%;
    width: 50px;
    padding: 8px;
}

#btn-emer {
    position: absolute;
    transform: translateX(-50%);
    top: 54%;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 7px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}

#channel-knbu, #channel-knbd, #power-btn {
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 8px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}

#line1, #line2, #line3 {
    position: absolute;
    left: 48.5%;
    transform: translateX(-50%);
    z-index: 1;
    color: black;
    font-size: 17px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    width: 90%;
}

#softText1, #softText2, #softText4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    font-size: 17px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    width: 90%;
}

#softText1 {
    font-size: 12px;
    top: 90.5%;
    left: 37.5%;
}

#softText2 {
    font-size: 12px;
    top: 90.5%;
    left: 49.5%;
}

#softText3 {
    position: absolute;
    left: 50%;
    z-index: 1;
    color: white;
    font-size: 1px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    width: 90%;
    visibility: hidden;
}
#softText4 {
    font-size: 12px;
    top: 90.5%;
    left: 60%;
}


#line1 {
    top: 81%;
}

#line2 {
    top: 82.6%;
    font-size: 15px;
}

#line3 {
    top: 84.5%;
    font-size: 14px;
    left: 49.5%;
    width: 41%;
}

#startup-message {
    background-color: white;
    padding: 20px;
    left: 48.5%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}

#startup-message h1 {
    margin: 0 0 10px;
}

#startup-message p {
    margin: 5px 0;
}
