#radio-container {
    position: fixed;
    bottom: 5px;
    right: 10px;
    display: inline-block;
    transform-origin: right bottom;
}

#radio-image {
    display: block;
    width: 300px;
    height: auto;
    position: relative;
}

#channel-up,
#zone-up {
    position: absolute;
    transform: translateX(-50%);
    top: 91%;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 7px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}

#channel-up {
    left: 63%;
}

#zone-up {
    left: 37%;
}

#line1,
#line2,
#line3,
#softText1,
#softText2,
#softText3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: black;
    font-size: 17px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    width: 90%;
}

#softText1 {
    font-size: 12px;
    top: 87%;
    left: 36%;
}

#softText2 {
    font-size: 12px;
    top: 87%;
    left: 36%;
}

#softText3 {
    font-size: 12px;
    top: 87%;
    left: 63.5%;
}

#line1 {
    top: 73%;
}

#line2 {
    top: 77%;
    font-size: 15px;
}

#line3 {
    top: 81.5%;
    font-size: 14px;
}

#startup-message {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}

#startup-message h1 {
    margin: 0 0 10px;
}

#startup-message p {
    margin: 5px 0;
}
