#radio-container {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 220px;
    display: inline-block;
    z-index: 1000;
    
}

#radio-image {
    display: block;
    width: 220px;
    height: auto;
    position: relative;
}

#rssi-icon {
    position: absolute;
    top: 77.5%;
    left: 28%;
    display: block;
}
#scan-icon {
    position: absolute;
    top: 77.5%;
    left: 35%;
    width: 5%;
    height: auto;
    display: none;
}


#battery-icon {
 visibility: hidden;
 top: 84.2%;
}

#zone-up, #rssi-btn, #scan-btn {
    position: absolute;
    transform: translateX(-50%);
    top: 89.5%;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 7px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}

#channel-up {
    left: 71%;
    visibility: hidden;
}
#scan-btn {
    left: 71%;
    
}

#zone-up {
    left: 32%;
}

#rssi-btn {
    left: 52%;
}

#channel-knbu {
    left: 58%;
}
#channel-knbd {
    left: 44%;

}
#btn-emer {
    left: 67%;
}

#btn-emer {
    position: absolute;
    transform: translateX(-50%);
    top: 50%;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 5px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}

#channel-knbu, #channel-knbd, #power-btn {
    position: absolute;
    transform: translateX(-50%);
    top: 40%;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 7px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}

#power-btn {
    left: 18%;
    top: 44%;
    width: 40px;
}

#line1, #line2, #line3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: black;
    font-size: 17px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    width: 90%;
}

#softText1, #softText2, #softText4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: black;
    font-size: 17px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    width: 90%;
}

#softText1 {
    font-size: 12px;
    top: 84.2%;
    left: 36%;
}

#softText2 {
    font-size: 12px;
    top: 84.2%;
    left: 52%;
}

#softText3 {
    font-size: 12px;
    top: 84.2%;
    left: 68%;
    visibility: hidden;
}
#softText4 {
    font-size: 12px;
    top: 84.2%;
    left: 68%;
   
}
#line1 {
    top: 78.5%;
}

#line2 {
    top: 80.1%;
    font-size: 15px;
}

#line3 {
    top: 81.7%;
    font-size: 14px;
    left: 49.5%;
    width: 41%;
}

#startup-message {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}

#startup-message h1 {
    margin: 0 0 10px;
}

#startup-message p {
    margin: 5px 0;
}