#radio-container {
    position: fixed;
    bottom: 5px;
    right: 10px;
    display: inline-block;
}

#radio-image {
    display: block;
    width: 300px;
    height: auto;
    position: relative;
}
#rssi-icon {
   position: absolute;
    top: 70.8%;
    left: 32.5%;
    display: block;
}


#channel-up, #zone-up, #rssi-btn {
    position: absolute;
    transform: translateX(-50%);
    top: 94%;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 7px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}

#channel-up {
    left: 63%;
}

#zone-up {
    left: 37%;
}

#rssi-btn {
    left: 50%;
}




#channel-knbu {
	  left: 60%;

}
#channel-knbd {
	  left: 46%;

}
#btn-emer {
	  left: 38%;

}

#btn-emer {
    position: absolute;
    transform: translateX(-50%);
    top: 45%;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 7px;
    background-color: transparent;
	color: transparent;
    border: none;
    cursor: pointer;
}






#channel-knbu, #channel-knbd {
    position: absolute;
    transform: translateX(-50%);
    top: 38%;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 10px;
padding-top: 20px;
    background-color: transparent;
	color: transparent;
    border: none;
    cursor: pointer;
}




#line1, #line2, #line3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: black;
    font-size: 17px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    width: 90%;
}


#softText1, #softText2, #softText3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    font-size: 17px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    width: 90%;
}



#softText1 {
    font-size: 12px;
    top: 90.2%;
    left: 37%;
}

#softText2 {
    font-size: 12px;
     top: 90.2%;
    left: 51%;
}

#softText3 {
    font-size: 12px;
     top: 90.2%;
    left: 64.2%;
}

#line1 {
    top: 75%;
}

#line2 {
   top: 78%;
    font-size: 15px;
}

#line3 {
    top: 81%;
    font-size: 14px;
    left: 49.5%;
    width: 41%;
}

#startup-message {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}

#startup-message h1 {
    margin: 0 0 10px;
}

#startup-message p {
    margin: 5px 0;
}