#radio-container {
    position: fixed;
    bottom: 5px;
    right: 10px;
    width: 600px;
    display: inline-block;
    z-index: 1000;
}

#radio-image {
    display: block;
    width: 600px;
    height: auto;
    position: relative;
}
#battery-icon {
    position: absolute;
    top: 69%;
    left: 60.5%;
    height: 10%;
    width: auto;
    display: none;
   visibility: hidden;

}


#rssi-icon {
 position: fixed;
    bottom: 130px;
    right: 425px;
    display: inline-block;
}

#channel-up, #zone-up {
    position: absolute;
    transform: translateX(-50%);
    top: 91%;
    z-index: 1;
    display: block;
    margin: 10px auto;
       padding-top: 5px;
	padding-left: 30px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}

#channel-knbu {
	  left: 52%;

}
#rssi-btn {
	  left: 52%;

}
#power-btn {
	  left: 18%;

}

#channel-knbd {
	  left: 44%;

}
#btn-emer {
	  left: 96%;

}
#btn-emer {
    position: absolute;
    transform: translateX(-50%);
    top: 5%;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 7px;
    background-color: transparent;
	color: transparent;
    border: none;
    cursor: pointer;
}


#rssi-btn {
    position: absolute;
    transform: translateX(-50%);
    top: 75%;
    left: 41%;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding-top: 5px;
	padding-left: 30px;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}
#power-btn {
    position: absolute;
    transform: translateX(-50%);
    top: 55%;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 7px;
    background-color: transparent;
	color: transparent;
    border: none;
    cursor: pointer;
}




#channel-knbu, #channel-knbd {
    position: absolute;
    transform: translateX(-50%);
	visibility: hidden;
    top: 35%;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 7px;
    background-color: transparent;
	color: transparent;
    border: none;
    cursor: pointer;
}



#channel-up {
    left: 69%;
    top: 75%;
}

#zone-up {
    left: 32%;
    top: 75%;
}

#line1, #line2, #line3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: black;
    font-size: 17px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    width: 90%;
}


#softText1, #softText2, #softText3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: #8EA595;
    font-size: 17px;
    font-family: Helvetica, serif;
    font-weight: bold;
    text-align: center;
    width: 90%;
}



#softText1 {
    font-size: 12px;
    top: 54%;
    left: 32%;
}

#softText2 {
    font-size: 12px;
     top: 54%;
    left: 41%;
}

#softText3 {
    font-size: 12px;
    top: 54%;
    left: 69%;
}

#line1 {
    top: 25%;
}

#line2 {
    top: 35%;
    font-size: 15px;
}

#line3 {
    top: 43%;
    font-size: 14px;
    left: 49.5%;
    width: 41%;
}

#startup-message {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}

#startup-message h1 {
    margin: 0 0 10px;
}

#startup-message p {
    margin: 5px 0;
}
